
.text-body {
    padding: 10px;
    margin: 10px auto;
    width: 90%;
    max-width: 850px;
}

h1 {
    font-family: 'Source Sans 3';
    text-align: center;
    font-weight:300;
    letter-spacing:5px;
    font-size:2rem;
    padding:2.5rem;
}


h4, p {
    padding:0.5rem;
    text-align: center;
    font-family: "Source Serif 4";
    font-weight: normal;
    font-size: 1.5rem;
}