@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*-------------------------------- Source code by: GARCIA, MARIEN --------------------------------*/

/*------------------------------------------Carousel Start------------------------------------------*/

.hero_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Source Serif 4", sans-serif;
}


.hero_text_header{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -3px;
    
}

.hero_text_subtext{
    font-size: 1rem;

}
  
.btn-secondary {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-family: "Source Sans 3", serif;
    font-weight: 300;
    font-size: 1rem;
}


/*------------------------------------------Carousel End------------------------------------------*/

/*------------------------------------------MidSection Start------------------------------------------*/


.mid-section-text{
    font-family: "Source Serif 4", sans-serif;
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: -2px;
    text-align: right;
    align-self: center; 
}

/*------------------------------------------MidSection End------------------------------------------*/

.product-header, .footer-heading {
    font-family: "Source Serif 4", sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 3rem;
}

.card-title {
    font-family: "Source Sans 3", serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.card-text, .footer-box, .nav-link{
    font-family: "Source Sans 3", serif;
    font-weight: 300;
    font-size: 1rem;
}

.col:hover {
    cursor: pointer;
}

/*-------------------------------- Source code by: GARCIA, MARIEN --------------------------------*/
