@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*-------------------------------- Source code by: GARCIA, MARIEN --------------------------------*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.product-name{
    font-family: "Source Serif 4", sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 2.7rem;
}

.product-price{
    font-family: "Source Sans 3", serif;
    font-weight: 300;
    font-size: 1.8rem;
}

.form-label{
    font-family: "Source Sans 3", serif;
    font-weight: 500;
    font-size: 1.3rem;
}

ul.info-list{
    list-style-type: circle;
}

.info-list{
    font-family: "Source Sans 3", serif;
    font-weight: 350;
    font-size: 1rem;
}

.text-box{
    font-family: "Source Sans 3", serif;
    font-weight: 350;
    font-size: 1rem;
}

.quantity-field{
    width: 100px;
}

.product-display{
    min-height: 430px;
    min-width: 430px;
}

/*-------------------------------- Source code by: GARCIA, MARIEN --------------------------------*/